[submodule "Backend"]
	path = Backend
	url = https://github.com/AgainIoT/Everyones-Transfer_Backend.git
[submodule "Frontend"]
	path = Frontend
	url = https://github.com/AgainIoT/Everyones-Transfer_Frontend.git
